*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: CocogooseLetterPress;
  src: url("../assets/fonts/cocogoose_letterpress/COCOGOOSELETTERPRESS-TRIAL.ttf");
}
@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.ttf");
}
.unscrollable {
  height: 100%;
  overflow: hidden;
}

.header-mobile,
.header-desktop {
  width: 100%;
  padding: 25px;
  padding-left: 40px;
  margin: 0;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("../assets/jpg/kyle-smith-music-camp.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.09;
  background-color: #d3d3d3;
}

.header-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  position: relative;
  top: 0;
  left: 0;
}

.header-desktop {
  display: none;
}

/* Hamburger Icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  position: static;
  opacity: 1;
  height: 100%;
  z-index: 50000;
}

.hamburger-icon .top-bar,
.hamburger-icon .middle-bar,
.hamburger-icon .bottom-bar {
  width: 2.3rem;
  height: 0.4rem;
  transition: all 0.4s linear;
  position: relative;
  transform-origin: 0.45px;
  background-color: #545454;
}

.hamburger-icon .top-bar {
  transform: rotate(0);
}

.hamburger-icon .middle-bar {
  opacity: 1;
  transform: translateX(0);
}

.hamburger-icon .bottom-bar {
  transform: rotate(0);
}

.hamburger-icon.open .top-bar {
  transform: rotate(45deg);
}

.hamburger-icon.open .middle-bar {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger-icon.open .bottom-bar {
  transform: rotate(-45deg);
}

/* Mobile menu */
@keyframes mobile-menu-animation-show {
  0% {
    left: -60%;
    top: -200px;
  }
  25% {
    left: -40%;
    top: -180px;
  }
  50% {
    left: -25%;
    top: -140px;
  }
  75% {
    left: -10%;
    top: -70px;
  }
  100% {
    left: 0%;
    top: 0;
  }
}
@keyframes mobile-menu-animation-hide {
  0% {
    opacity: 1;
    left: 0%;
    top: 0;
  }
  25% {
    opacity: 0.75;
    left: 30%;
    top: -70px;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    top: -140px;
  }
  75% {
    opacity: 0.25;
    left: 90%;
    top: -180px;
  }
  99% {
    opacity: 0;
    display: none;
  }
}
.mobile-menu {
  display: none;
}

.mobile-menu.show {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: #f8f8f8;
  padding-top: 20%;
  padding-inline: 2% 10%;
  animation-name: mobile-menu-animation-show;
  animation-duration: 0.2s;
}

.mobile-menu.show ul,
.mobile-menu.hide ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  font-family: "Cocogoose", sans-serif;
}

.mobile-menu.show ul a,
.mobile-menu.hide ul a {
  text-decoration: none;
  color: #272a31;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.mobile-menu.show ul a.active {
  color: #ec5242;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.mobile-menu.hide {
  background-color: white;
  animation-name: mobile-menu-animation-hide;
  animation-duration: 0.4s;
}

/* ------------------------------------------
  Media Query
-------------------------------------------- */
@media only screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
  .header-desktop .desktop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
  .header-desktop .desktop-menu .logo-container {
    width: 10%;
  }
  .header-desktop .desktop-menu .logo-container img {
    position: absolute;
    left: 15%;
    top: 10%;
    width: auto;
    height: 50px;
  }
  .header-desktop .desktop-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    margin-left: 40vw;
    margin-top: -2px;
  }
  .header-desktop .desktop-menu ul .links-container a {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #272a31;
    font-weight: 600;
    text-decoration: none;
  }
  .header-desktop .desktop-menu ul .links-container a.active {
    color: #ec5242;
  }
}
/* ------------------------------------------
  Media Query
-------------------------------------------- */
@media only screen and (min-width: 768px) {
  .enroll-btn {
    display: none;
  }

  .see-program {
    display: block;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 1em;
}
footer a {
  color: #ec5242;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-family: font-3;
  font-size: 12px;
  color: #272a31;
}
footer .footer-text .heart {
  color: red;
}
footer .footer-text p {
  margin-block: 5px;
  font-size: 14px;
  color: #272a31;
  font-weight: 200;
}
footer .footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}
footer .footer-icons a {
  font-family: "CocogooseLetterPress", sans-serif;
  font-size: 25px;
  color: #272a31;
  padding: 10px;
}
footer .footer-email {
  margin-top: -30px;
}
footer .footer-email a {
  font-family: "Cocogoose", sans-serif;
  font-size: 14px;
  color: #272a31;
}

/*# sourceMappingURL=about.css.map */
