*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: CocogooseLetterPress;
  src: url("../assets/fonts/cocogoose_letterpress/COCOGOOSELETTERPRESS-TRIAL.ttf");
}
@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.ttf");
}
.unscrollable {
  height: 100%;
  overflow: hidden;
}

.header-mobile,
.header-desktop {
  max-width: 100vw;
  padding: 20px;
  padding-left: 40px;
  margin: 0 0 30px 0;
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../assets/jpg/kyle-smith-music-camp.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.09;
  background-color: #d3d3d3;
}

.header-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  position: sticky;
  top: 0;
  left: 0;
}

.header-desktop {
  display: none;
}

/* Hamburger Icon */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  position: static;
  opacity: 1;
  height: 100%;
  z-index: 10;
}

.hamburger-icon .top-bar,
.hamburger-icon .middle-bar,
.hamburger-icon .bottom-bar {
  width: 2.3rem;
  height: 0.4rem;
  transition: all 0.4s linear;
  position: relative;
  transform-origin: 4px;
  background-color: #545454;
}

.hamburger-icon .top-bar {
  transform: rotate(0);
}

.hamburger-icon .middle-bar {
  opacity: 1;
  transform: translateX(0);
}

.hamburger-icon .bottom-bar {
  transform: rotate(0);
}

.hamburger-icon.open {
  position: fixed;
  right: 20px;
  top: 25px;
}

.hamburger-icon.open .top-bar {
  transform: rotate(45deg);
}

.hamburger-icon.open .middle-bar {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger-icon.open .bottom-bar {
  transform: rotate(-45deg);
}

/* Mobile menu */
@keyframes mobile-menu-animation-show {
  0% {
    left: 100%;
    top: -200px;
  }
  25% {
    left: 90%;
    top: -180px;
  }
  50% {
    left: 60%;
    top: -140px;
  }
  75% {
    left: 30%;
    top: -70px;
  }
  100% {
    left: 0%;
    top: 0;
  }
}
@keyframes mobile-menu-animation-hide {
  0% {
    opacity: 1;
    left: 0%;
    top: 0;
  }
  25% {
    opacity: 0.75;
    left: 30%;
    top: -70px;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    top: -140px;
  }
  75% {
    opacity: 0.25;
    left: 90%;
    top: -180px;
  }
  99% {
    opacity: 0;
    display: none;
  }
}
.mobile-menu {
  display: none;
}

.mobile-menu.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #d3d3d3;
  background-position: 0 55px, right bottom;
  padding-top: 20%;
  padding-inline: 2% 10%;
  animation-name: mobile-menu-animation-show;
  animation-duration: 0.2s;
}

.mobile-menu.hide {
  background-color: #191765;
  position: absolute;
  animation-name: mobile-menu-animation-hide;
  animation-duration: 0.5s;
}

/* ------------------------------------------
  Media Query
-------------------------------------------- */
@media only screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
  width: 100vw;
  margin: 0;
  overflow-x: unset;
}

main {
  padding-inline: 0;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3em;
  padding-left: 5%;
  background-image: url("../assets/svg/1480796300.svg"), url("../assets/svg/piano-illustration.svg"), url("../assets/svg/Drums-Silhouette-2.svg"), url("../assets/svg/acoustic_guitar.svg"), url("../assets/svg/Geometric-Heart-4.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, scroll, scroll, scroll;
  background-position: 30% 60%, 84% 15%, 23% 12%, 93% 48%, 92% 95%;
  background-size: 100px, 50px, 50px, 40px, 100px;
}
.main-info .pre-title {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #ec5242;
  margin-top: 3em;
  font-weight: 300;
}
.main-info .title {
  font-family: "CocogooseLetterPress", sans-serif;
  font-size: 2em;
  color: #ec5242;
  margin-top: -1em;
}
.main-info .title .year {
  font-family: "Cocogoose", sans-serif;
  font-size: 1em;
  color: #ec5242;
}
.main-info .post-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #222;
  border: 4px solid #fff;
  padding: 10px 15px;
  background-color: #f7f7f7;
  max-width: 90%;
  margin: 4% 2% 0 3%;
  opacity: 0.9;
  z-index: 80;
}
.main-info .dates {
  font-family: "Cocogoose", sans-serif;
  font-size: 1em;
  color: #272a31;
  font-weight: 900;
  line-height: 50px;
  width: 90%;
  transform: scale(1.4);
  margin-left: 20%;
}
.main-info .venue {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: 600;
  margin-top: -1.7em;
  margin-left: 10px;
}

section .separator {
  width: 10%;
  align-self: center;
  background-color: #e74c33;
  height: 2px;
  margin-block: -1em 0.7em;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  background-image: url("../assets/jpg/dark-gray-sand.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #f8f8f8;
  padding-block: 1.2em;
}
.main-program .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fd7373;
}
.main-program .section-title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
}
.main-program .articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-program .program-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 12px 8px;
  margin-inline: 5%;
  background: #2b2929;
  border: 2px solid #3c3f46;
  opacity: 0.9;
}
.main-program .program-item .icon {
  font-size: 1.7em;
}
.main-program .program-item .activity {
  color: #ec5242;
  font-size: 18px;
  font-weight: bold;
  z-index: 100;
}
.main-program .program-item .description {
  color: #fff;
  font-size: 16px;
  text-align: left;
}
.main-program .see-program {
  display: none;
}
.main-program .enroll-btn {
  display: block;
  cursor: pointer;
  padding: 20px;
  width: 60%;
  text-align: center;
  background: #e74c33;
  color: #fff;
  font-size: 1.2em;
  margin-block: 1.3em 0.8em;
  border: 1px solid #272a31;
  font-weight: 400;
}

.instructors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-inline: 15px;
  background-color: #f8f8f8;
  padding-bottom: 1em;
}
.instructors .section-title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #272a31;
  margin-top: 2em;
}
.instructors .instructors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.instructors .instructor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
.instructors .instructor img {
  width: 95%;
  height: auto;
}
.instructors .instructor .instructor-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
}
.instructors .instructor .instructor-text .separator {
  background-color: #d3d3d3;
  align-self: flex-start;
  margin-bottom: 10px;
  width: 25%;
}
.instructors .instructor .instructor-text .instructor-name {
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
}
.instructors .instructor .instructor-text .instructor-title {
  color: #ec5242;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  margin-top: -4%;
}
.instructors .instructor .instructor-text .instructor-description {
  color: #272a31;
  font-size: 14px;
  font-weight: 200;
  margin-top: -2%;
}
.instructors .show-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #272a31;
  margin-inline: 15px;
  width: 100%;
  border: 1px solid #d3d3d3;
  font-weight: 400;
  background: #fff;
  padding-block: 10px;
}
.instructors .show-more span {
  color: #ec5242;
  margin-left: 15px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #534747;
  background: linear-gradient(90deg, #534747 0%, #7a726a 78%);
  color: #fcfcfc;
  padding-inline: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
.partners .section-title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
}
.partners .partners-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1%;
  flex-wrap: wrap;
}
.partners .partners-container img {
  width: 30%;
  height: auto;
  filter: grayscale(95%);
}
.partners .partners-container img:last-child, .partners .partners-container img:first-child {
  filter: grayscale(60%);
}

/* ------------------------------------------
  Media Query
-------------------------------------------- */
@media only screen and (min-width: 768px) {
  .enroll-btn {
    display: none;
  }

  .see-program {
    display: block;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 1em;
}
footer a {
  color: #ec5242;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-family: font-3;
  font-size: 12px;
  color: #272a31;
}
footer .footer-text .heart {
  color: red;
}
footer .footer-text p {
  margin-block: 5px;
  font-size: 14px;
  color: #272a31;
  font-weight: 200;
}
footer .footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}
footer .footer-icons a {
  font-family: "CocogooseLetterPress", sans-serif;
  font-size: 25px;
  color: #272a31;
  padding: 10px;
}
footer .footer-email {
  margin-top: -30px;
}
footer .footer-email a {
  font-family: "Cocogoose", sans-serif;
  font-size: 14px;
  color: #272a31;
}

/*# sourceMappingURL=home.css.map */
