@font-face {
    font-family: CocogooseLetterPress;
    src: url('../assets/fonts/cocogoose_letterpress/COCOGOOSELETTERPRESS-TRIAL.ttf');
}

@font-face {
    font-family: Cocogoose;
    src: url('../assets/fonts/cocogoose/Cocogoose_trial.ttf');
}

$font-1: CocogooseLetterPress, sans-serif;
$font-2: Cocogoose, sans-serif;
$font-2: Lato, sans-serif;
