@font-face {
  font-family: CocogooseLetterPress;
  src: url('../assets/fonts/cocogoose_letterpress/COCOGOOSELETTERPRESS-TRIAL.ttf');
}

@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose_trial.ttf');
}

@mixin font-size-color($ff, $size, $color) {
  font-family: $ff;
  font-size: $size;
  color: $color;
}

$font-1: 'Cocogoose', sans-serif;
$font-2: 'CocogooseLetterPress', sans-serif;
$font-3: 'Lato', sans-serif;
