footer {
  @include flex-row(center, 5%);


  padding-block: 3em;


  a {
    color: $primary-2;
  }

  .footer-image {
    @include flex-row(flex-end, 0);
    width: 45%;
    img {
      width: 70%;
      height: auto;
    }
  }

  .footer-rest {
    @include flex-column(flex-start, 12px);


    padding-left: 10px;

    .footer-text {
      @include flex-column(flex-start, 0);
      @include font-size-color($font-3, 12px, $primary-1);

      .heart {
        color: red;
      }

      p {
        margin-block: 5px;
        font-size: 14px;
        color: $primary-1;
        font-weight: 400;
      }
    }

    .footer-icons {
      @include flex-row(center, 15px);

      font-size: 20px;
    }

    .footer-icons a {
      @include font-size-color($font-2, 25px, $primary-1);

      padding: 10px;
    }

    .footer-email {
      margin-top: -30px;
    }

    .footer-email a {
      @include font-size-color($font-1, 14px, $primary-1);
    }
  }

  &.dark {
    background: #2e2e2e;

    .footer-image img {
      filter: invert(0.85);
    }

    .footer-text p, .footer-email a, .footer-icons a {
      color: #ccc;
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    @include flex-row(center, 5%);

    padding-bottom: 1em;

    a {
      color: $primary-2;
    }

    .footer-image {
      @include flex-row(flex-end, 0);

      max-width: 40%;

      img {
        width: 60%;
        height: auto;
      }
    }

    .footer-rest {
      @include flex-column(flex-start, 20px);

      padding-left: 10px;

      .footer-text {
        @include flex-column(flex-start, 0);
        @include font-size-color($font-3, 12px, $primary-1);

        .heart {
          color: red;
        }

        p {
          margin-block: 5px;
          font-size: 18px;
          color: $primary-1;
          font-weight: 400;
        }
      }

      .footer-icons {
        @include flex-row(center, 15px);

        font-size: 20px;
      }

      .footer-icons a {
        @include font-size-color($font-2, 25px, $primary-1);

        padding: 10px;
      }

      .footer-email {
        margin-top: -30px;
      }

      .footer-email a {
        @include font-size-color($font-1, 14px, $primary-1);
      }
    }
    &.dark {
      background: #2e2e2e;

      .footer-image img {
        filter: invert(0.85);
      }

      .footer-text p, .footer-email a, .footer-icons a {
        color: #ccc;
      }
    }
  }

}
