@import "resets";
@import "fonts";
@import "colors";
@import "header";

html {
  scroll-behavior: smooth;
}

body {
  background: $home-main-bg;
  width: 100vw;
  margin: 0;
  overflow-x: unset;
}

main {
  padding-inline: 0;
}

// Main infos

.main-info {
  @include flex-column(flex-start, 1em);

  position: relative;
  padding-top: 5rem;
  padding-bottom: 3em;
  padding-left: 5%;
  background-image: url('../assets/svg/1480796300.svg'), url('../assets/svg/piano-illustration.svg'), url('../assets/svg/Drums-Silhouette-2.svg'), url('../assets/svg/acoustic_guitar.svg'), url('../assets/svg/Geometric-Heart-4.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, scroll, scroll, scroll;
  background-position: 15% 55%, 84% 15%, 23% 12%, 95% 48%, 95% 95%;
  background-size: 100px, 50px, 50px, 40px, 100px;

  .pre-title {
    @include font-size-color($font-3, 1.2em, $primary-2);

    margin-top: 3em;
    font-weight: 300;
  }

  .title {
    @include font-size-color($font-2, 2em, $primary-2);

    .year {
      @include font-size-color($font-1, 1em, $primary-2);
    }

    margin-top: -1em;
  }

  .post-title {
    @include font-size-color($font-3, 16px, #222);

    border: 4px solid #fff;
    padding: 10px 15px;
    background-color: $about-main-bg;
    max-width: 90%;
    margin: 0 2% 0 3%;
    opacity: 0.9;
    z-index: 80;
  }

  .dates {
    @include font-size-color($font-1, 1em, $primary-1);

    font-weight: 900;
    line-height: 50px;
    width: 90%;
    transform: scale(1.4);
    margin-left: 20%;
  }

  .venue {
    @include font-size-color($font-3, 14px, #555);

    font-weight: 600;
    margin-top: -1.7em;
    margin-left: 10px;
  }
}

section .separator {
  width: 10%;
  align-self: center;
  background-color: #e74c33;
  height: 2px;
  margin-block: -1em 0.7em;
}

// Main program

.main-program {
  @include flex-column(center, 1em);

  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fd7373;
  }

  background-image: url('../assets/jpg/dark-gray-sand.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: $home-main-bg;
  padding-block: 1.2em;

  .section-title {
    @include font-size-color($font-3, 18px, white);
  }

  .articles-container {
    @include flex-column(center, 20px);
  }

  .program-item {
    @include flex-row(center, 25px);

    align-items: center;
    padding: 12px 8px;
    margin-inline: 5%;
    background: #2b2929;
    border: 2px solid #3c3f46;
    opacity: 0.9;

    .icon {
      font-size: 1.7em;
    }

    .activity {
      color: $primary-2;
      font-size: 18px;
      font-weight: bold;
      z-index: 100;
    }

    .description {
      color: #fff;
      font-size: 16px;
      text-align: left;
    }
  }

  .see-program {
    display: none;
  }

  .enroll-btn {
    display: block;
    cursor: pointer;
    padding: 20px;
    width: 60%;
    text-align: center;
    background: #e74c33;
    color: #fff;
    font-size: 1.2em;
    margin-block: 1.3em 0.8em;
    border: 1px solid $primary-1;
    font-weight: 400;
  }
}

// Instructors

.instructors {
  @include flex-column(center, 1em);

  margin-inline: 15px;
  background-color: #f8f8f8;

  .section-title {
    @include font-size-color($font-3, 18px, $primary-1);

    margin-top: 2em;
  }

  .instructors-container {
    @include flex-column(center, 1em);
  }

  .instructor {
    @include flex-row(center, 7px);

    img {
      width: 95%;
      height: auto;
    }

    .instructor-text {
      @include flex-column(flex-start, 2px);

      justify-content: flex-start;
      font-family: $font-3;

      .separator {
        background-color: $primary-3;
        align-self: flex-start;
        margin-bottom: 10px;
        width: 25%;
      }

      .instructor-name {
        color: $primary-1;
        font-size: 20px;
        font-weight: 700;
      }

      .instructor-title {
        color: $primary-2;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        margin-top: -4%;
      }

      .instructor-description {
        color: $primary-1;
        font-size: 14px;
        font-weight: 200;
        margin-top: -2%;
      }
    }
  }

  .show-more {
    @include flex-row(center, 0);
    @include font-size-color($font-3, 15px, $primary-1);

    margin-inline: 15px;
    width: 100%;
    border: 1px solid $primary-3;
    font-weight: 400;
    background: #fff;
    padding-block: 10px;

    span {
        color: $primary-2;
        margin-left: 15px;
    }
  }
}

/* ------------------------------------------
  Media Query
-------------------------------------------- */

@media only screen and (min-width: 768px) {
  .enroll-btn {
    display: none;
  }

  .see-program {
    display: block;
  }
}

@import "footer";
